## Core latex/pdflatex auxiliary files:
.*.lb
*.aux
*.cb
*.cb2
*.fls
*.fmt
*.fot
*.lof
*.log
*.lot
*.out
*.toc

## Intermediate documents:
*-converted-to.*
*.dvi
*.xdv
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
# Keep pdf files for submission
#.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*-blx.aux
*-blx.bib
*.bbl
*.bcf
*.blg
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.pdfsync
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.?end
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.end

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
*.pyg
_minted*

# morewrites
*.mw

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd

# scrwfile
*.wrt

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.listing

# thmtools
*.loe

# TikZ & PGF
*.auxlock
*.dpth
*.md5

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.fff
*.ttt

# Latexian
TSWLatexianTemp*

## Editors:
# VS Code
.vscode/

# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz

# Backend
# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
__pycache__/

# Virtual environment
.env/
.env.*
.poetry/
venv/

# Environment variables
!*.example
.env

# Pytest cache
.cache/
.pytest_cache/

# mypy
.dmypy.json
.mypy_cache/
dmypy.json

# Ruff cache
.ruff_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Miscellaneous
*.swo
*.swp

# Ignore test output
.coverage
*.egg-info/
.eggs/
.tox/
build/
coverage
coverage.*
dist/
dist-ssr
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Frontend
# Logs
lerna-debug.log*
node_modules
npm-debug.log*
pnpm-debug.log*
*.local
yarn-debug.log*
yarn-error.log*

# Editor directories and files
!.vscode/extensions.json
.DS_Store
.idea
.njsproj
.sln
.suo
.vscode/*
*.ntvs*
*.sw?
