# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.env.*
.poetry/

# Pytest cache
.pytest_cache/
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff cache
.ruff_cache/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Miscellaneous
*.swp
*.swo

# Ignore test output
.coverage
coverage.*
htmlcov/
.tox/
dist/
build/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
